@model greenTea.Models.CardTable

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="container">

    <div class="text-center">
        <h1>Criando novo pictograma</h1>
    </div>
    <h4>...</h4>
    <hr />
    <div class="d-flex p-2 justify-content-center">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Img" class="control-label"></label>
                    <input asp-for="Img" class="form-control" />
                    <span asp-validation-for="Img" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoriaID" class="control-label"></label>
                    <select asp-for="CategoriaID" class="form-control" asp-items="ViewBag.CategoriaID"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-success mr-4" /> | 
                    <a asp-action="Index2"  class="btn btn-primary ml-4">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
