@page
@model ForgotPasswordModel
@{ ViewData["Title"] = "Esqueceu sua senha?"; }

<br />
<br />

<div class="container text-center mt-5">
    <h1>@ViewData["Title"]</h1>
    <h4>Entre com seu Email.</h4>
</div>
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
<br />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
