@page
@model ForgotPasswordConfirmation
@{ ViewData["Title"] = "Alterar a senha"; }

<br />
<br />

<div class="container text-center mt-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        Um link com os dados para alterar sua senha foi enviado para seu e-mail.
    </p>
</div>

