<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - greenTea</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/css/Features-Boxed.css">
    <link rel="stylesheet" href="~/css/Footer-Dark.css">
    <link rel="stylesheet" href="~/css/Header-Blue.css">
    <link rel="stylesheet" href="~/css/Highlight-Blue.css">
    <link rel="stylesheet" href="~/css/Animated-Type-Heading.css">
    <link rel="stylesheet" href="~/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="~/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/Faq-by-pomdre.css" />
    <link rel="stylesheet" href="~/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dekko&amp;display=swap">
    <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body class="p-0 m-0 bg-light" style="font-family: Dekko, serif;">
    <div class="container p-0 d-inline-flex justify-content-center row flex-nowrap bg-white" style="min-width:100%;">
        <div class="container mr-5 col-8 col-sm-10 d-flex justify-content-center pl-5">
            <a class="navbar-brand">
                <img src="~/media/greenTea2.png" style="width:255px;" class="img-fluid" />
            </a>
        </div>
        <div class="ml-4 col-2 col-sm-1">
            <partial name="_LoginPartial" />
        </div>
    </div>
    <header class="sticky-top" style="font-family: Dekko, serif;">
        <nav class="navbar navbar-expand-lg  position-sticky d-lg-flex justify-content-center  justify-content-lg-center align-items-lg-center navigation-clean-search" style="background: linear-gradient(97deg, #00E4D0, #4D90E5), #6AbFdC;height: 74px;">
            <div class="container ">
                <button class="navbar-toggler bg-light btn-outline-primary"  type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="width: 35px;border-bottom-color: rgba(238,242,8,0);box-shadow: 0px 0px;"><i class="fas fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse text-center d-lg-flex justify-content-lg-center align-items-lg-center" id="navcol-1" style="height: 60px;font-weight: bold;font-size: 23px;color: #fff;position: relative;bottom: -25px;">
                    <ul class="navbar-nav">
                        <li class="nav-item" data-bss-hover-animate="pulse"><a class="nav-link shadow-lg rounded-pill " style="color: #fff;background: #1cc157;font-size: 18px;margin: 5px;" asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
                        <li class="nav-item" data-bss-hover-animate="pulse"><a class="nav-link shadow-lg rounded-pill" style="color: #fff;background: #198754;font-size: 18px;margin: 5px;" asp-area="" asp-controller="CardTables" asp-action="Index">PICTOGRAMA</a></li>
                        <li class="nav-item" data-bss-hover-animate="pulse"><a class="nav-link shadow-lg rounded-pill text-nowrap" style="color: #fff;background: #0d94f5;font-size: 18px;margin: 5px;" asp-area="" asp-controller="Home" asp-action="Wnoise">White Noise</a></li>
                        <li class="nav-item" data-bss-hover-animate="pulse"><a class="nav-link shadow-lg rounded-pill" style="color: #fff;background: #FFA012;font-size: 18px;margin: 5px;" asp-area="" asp-controller="Receitas" asp-action="Index">RECEITAS</a></li>
                        <li class="nav-item" data-bss-hover-animate="pulse"><a class="nav-link shadow-lg rounded-pill" style="color: #fff;background: #FFC107;font-size: 18px;margin: 5px;" asp-area="" asp-controller="Home" asp-action="Blog">BLOG</a></li>
                        <li class="nav-item" data-bss-hover-animate="pulse"><a class="nav-link shadow-lg rounded-pill" style="color: #fff;background: #Df3f4f;font-size: 18px;margin: 5px;" asp-area="" asp-controller="Home" asp-action="Sobre">SOBRE</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="containerfghfh">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="d-flex footer-dark justify-content-center align-content-center p-0">

        <div class="container p-3">
            <div class="footer-copyright">
                <a class=" text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
                    <div>
                        <p style="font-size: 24px;" class="d-flex justify-content-center mb-0">
                            <span style="color: #198754">green</span>
                            <span style="color: #DC3545">T</span>
                            <span style="color: #FFC107">e</span>
                            <span style="color: #0D6EFD">a</span>
                            <span style="font-size: 15px; color: gray;">©</span>
                        </p>
                        <p>
                            <span class="d-flex justify-content-center mt-0 text-secondary">Todos os direitos reservados 2022</span>
                        </p>

                    </div>
                </a>

            </div>
            <div class="row ">
                <div class="col-sm-3 col-4">
                    <h5>Serviços</h5>
                    <ul>
                        <li><a asp-controller="CardTables" asp-action="Index">Pictogramas</a></li>
                        <li><a asp-controller="Home" asp-action="Wnoise">White-Noise</a></li>
                        <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-4">
                    <h5>Funções</h5>
                    <ul>
                        <li><a asp-controller="Categorias" asp-action="Index">Categorias</a></li>
                        <li><a asp-controller="Receitas" asp-action="Create">Criar receita</a></li>
                        <li><a asp-controller="Home" asp-action="Index">Próximos Passos</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-4">
                    <h5>Suporte</h5>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Faq">FAQ</a></li>
                        <li><a asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                        <li><a asp-controller="Home" asp-action="Contatos">Contatos</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-12">
                    <h5>Fontes</h5>
                    <ul class="row">
                        <li class="col-4 col-sm-12"><a target="_blank" href="https://tismoo.us/portal/">Tismoo</a></li>
                        <li class="col-4 col-sm-12"><a target="_blank" href="https://institutoneurosaber.com.br">NeuroSaber</a></li>
                        <li class="col-4 col-sm-12"><a target="_blank" href="https://www.paho.org/pt/topicos/transtorno-do-espectro-autista">Paho</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.filterizr.min.js"></script>
    <script src="~/js/Faq-by-pomdre.js"></script>

    <!--FilterizR-->
    <script>
        const filterizr = $('.filter-container').filterizr({
            controlsSelector: '.filtr-controls',
            gridItemsSelector: '.filtr-item',
            spiner: {
                enabled: true
            }
        })
        $("#shuffle").click(() => {
            filterizr.filterizr('shuffle')
        })
        const sortFilterizr = (order) => {
            filterizr.filterizr('sort', $("select: selected").val(), order)
        }
        $("#asc-btn").click(() => {
            sortFilterizr('asc')
        })
        $("#des-btn").click(() => {
            sortFilterizr('des')
        })

    </script>
    <!--FilterizR-->
    <script src="~/js/Animated-Type-Heading.js"></script>
    <script src="~/js/bs-init.js"></script>
    <script src="~/js/vanilla-zoom.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
