@{ ViewData["Title"] = "DIeta SGSC"; }


<main class="page blog-post mt-3 bg-light">
    <section class="clean-block clean-post dark">
        <div class="container bg-white col-10">
            <div class="block-content  justify-content-center">
                <div class="post-image" style="background-image:url(&quot;assets/img/scenery/image3.jpg&quot;);"></div>
                <div class="post-body p-4">
                    <div class="post-info"><span>14 Jan, 2022</span></div>
                    <div class=" text-center mb-5">
                        <h1>
                            Como ajudá-los a se alimentarem melhor
                        </h1>
                    </div>
                    <ul>
                        <li>
                            Crianças com Transtorno do Espectro Autista podem ser bastante seletivas ao se
                            alimentarem e seletividade alimentar.
                        </li>
                        <li>
                            É um tema que preocupa bastante os pais, afinal, rejeitando muitos pratos, as
                            crianças também perdem nutrientes.
                        </li>
                        <li>
                            Portanto, deve-se ter o cuidado de não deixá-las ingerir alimentos que não sejam
                            saudáveis. Comportamento repetitivo e interesse restrito podem ter papel importante
                            na seletividade dietética.
                        </li>
                        <li>
                            Crianças com Transtorno do Espectro Autista parecem ser ainda mais seletivas na
                            hora de escolher o que comer.
                        </li>
                    </ul>

                    <figure class="figure">
                        <img class="rounded img-fluid figure-img" src="https://blog.amigopanda.com.br/wp-content/uploads/2020/11/dieta-sgsc-capa.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">Dieta saudável</figcaption>
                    </figure>

                    <p>
                        É importante que as crianças tenham uma familiaridade com o alimento para se sentirem
                        atraídas por ele, chamar o seu pequeno para ajudar na hora do preparo da refeição pode
                        ajudar nisso. O simples fato de pegar o ingrediente e sentir seu cheiro já faz parte de
                        uma aproximação significativa, mesmo que naquele momento ele não queira consumi-lo.
                    </p>
                    <p>
                        É comum que os pequenos com autismo tenham momentos de maior agitação e isso
                        pode também acontecer na hora do papá, o que pode acabar prejudicando a refeição.
                    </p>
                    <p>
                        Por isso é importante garantir muita calma para esse momento. Deixe o ambiente
                        agradável, evite distrações como televisão ou música altas (som, apenas ambiente e em
                        volume baixo).
                    </p>

                    <h4 class="mt-5">Dietas</h4>

                    <div class="row">
                        <div class="col-md-6">
                            <figure class="figure">
                                <img class="rounded img-fluid figure-img" src="https://blog.amigopanda.com.br/wp-content/uploads/2020/11/dieta-sgsc-corpo3-1536x991.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                                <figcaption class="figure-caption">Dieta SGSC</figcaption>
                            </figure>
                        </div>
                        <div class="col">
                            <p>
                                A dieta de restrição não deve ser iniciada abruptamente, pois isso pode causar uma
                                reação negativa na criança. Por isso é fundamental que ela seja acompanhada por
                                nutricionista para que o tratamento seja individualizado.
                            </p>
                            <p>
                                Portadores do transtorno do espectro autista podem ter as paredes do intestino mais
                                porosas e apresentar problemas como refluxo, constipação e diarreia. Daí, nasceu a dieta
                                SCSG (sem caseína, sem glúten)
                            </p>
                        </div>
                    </div>
                    <h4 class="mt-5">
                        Dieta isenta de glúten e caseína no transtorno do
                        espectro autista: uma revisão sistemática
                    </h4>
                    <ul>
                        <li>
                            Encontramos o glúten no trigo, centeio, cevada e aveia, e a caseína no leite e seus
                            derivados
                        </li>
                        <li>
                            E esses alimentos devem ser retirados da dieta dos autistas para que haja melhora
                            dos sintomas
                        </li>
                        <li>
                            Identificar alimentos com glúten é fácil, já que nas embalagens vem descrito, mas,
                            para identificar alimentos com caseína é necessário um pouco mais de atenção.
                        </li>
                        <li>
                            Apesar de a caseína ser encontrada em leite e derivados, pode ser encontrada em
                            outros alimentos como enlatados, embutidos e fármacos.
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col">
                            <p>
                                Essas terapias são um tipo de tratamento cientificamente validado e recomendado, porém
                                podem gerar altos custos para a família.
                            </p>
                            <p>
                                Esse é um dos maiores motivos pelo qual os pais recorrem a uma Medicina Complementar
                                Alternativa Dentro da Medicina Complementar Alternativa, há uma série de tratamentos, dos
                                quais podemos citar: nutrição, imunomoduladores, desintoxicação, musicoterapia, hipismo,
                                oxigenação com balão hiperbárico, etc.
                            </p>

                            <p>
                                A exclusão do glúten e da caseína seria eficiente, devido à teoria dos peptídeos
                                opioides de origemexógena Muitos estudos demonstraram que o TEA pode ser
                                consequência da digestão incompleta de alimentos contendo glúten e caseína, estes
                                por sua vez em excesso no trato gastrointestinal (TGI), passam para a corrente
                                sanguínea devido a uma disfunção na permeabilidade da membrana intestinal e através da
                                circulação atingem o sistema nervoso central.
                            </p>

                        </div>
                        <div class="col-lg-6">
                            <figure class="figure">
                                <img class="rounded img-fluid figure-img" src="https://downloads-mundotri.s3.amazonaws.com/wp-content/uploads/2013/12/photodune-5740861-gluten-free-s.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                                <figcaption class="figure-caption">Glúten</figcaption>
                            </figure>
                        </div>
                        <p>
                            As principais intervenções desse tipo de abordagem no campo nutricional são: dieta sem
                            glúten e/ ou sem caseína, suplementação vitamínica,suplementação de magnésio e
                            utilização de ácidos graxos
                        </p>
                    </div>
                </div>
                <p class="ml-5">
                    Referência
                    <a href="https://tismoo.us/saude/"> tismoo.us</a>
                </p>
            </div>
        </div>
    </section>
</main>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="~/js/vanilla-zoom.js"></script>
<script src="~/js/theme.js"></script>
<script src="~/js/site.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


