@{ ViewData["Title"] = "Pictogramas"; }


<main class="page blog-post mt-3 bg-light">
    <section class="clean-block clean-post dark">
        <div class="container bg-white col-10">
            <div class="block-content  justify-content-center">
                <div class="post-image" style="background-image:url(&quot;assets/img/scenery/image3.jpg&quot;);"></div>
                <div class="post-body p-4">
                    <div class="post-info"><span>14 Jan, 2022</span></div>
                    <div class=" text-center mb-5">
                        <h1>
                            Da linguagem e comunicação à comunicação alternativa
                        </h1>
                    </div>
                    <p>
                        A comunicação humana é uma das práticas culturais mais significantes e fundamentais dos
                        seres humanos. Esse processo não é inato ou maturacional, mas sim sociohistórico e se desenvolve
                        ao longo da vida. As formas mais comuns de comunicação são a oral e a escrita, mas o processo
                        comunicacional inclui também gestos e expressões corporais e também envolve aspectos relativos
                        à intersubjetividade, como a reciprocidade e as crenças dos sujeitos em interação.
                    </p>
                    <p>
                        Assim, quando seres humanos interagem em um processo de comunicação, envolvem-se
                        ativamente na construção de significados e sentidos. No caso de falhas na comunicação, o processo
                        intersubjetivo fica prejudicado, uma vez que pelo menos um dos participantes apresentará déficits
                        na construção ou na compreensão de sentidos e significados na forma da linguagem expressada.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <figure class="figure">
                                <img class="rounded img-fluid figure-img" src="https://www.grupoconduzir.com.br/wp-content/uploads/2017/07/blog_comunicacao_alternativa_e_terapia_aba-1.png" alt="Criança com aparelho.">
                                <figcaption class="figure-caption"></figcaption>
                            </figure>
                        </div>
                        <div class="col">
                            <p>
                                O
                                uso da CA surge justamente para apoiar esse processo de comunicação, propiciando subsídios, ao
                                suplementar, complementar ou construir um processo de comunicação. Nessa perspectiva, discute-se
                                a concepção do desenvolvimento de linguagem e da comunicação como um dos componentes da
                                linguagem, enquanto instrumento potente de mediação.
                                A comunicação, portanto, não é pensada
                                como um processo linear de uso direto de um sistema simbólico (linguagem), nem um processo de
                                aquisição da linguagem enquanto processo gramatical ou fonético. Mas, sim, como um complexo e
                                multidimensional processo de aquisição da linguagem que inclui, entre outras, as dimensões social,
                                cultural, histórica e intersubjetiva, que são essencialmente interativas
                            </p>
                        </div>
                    </div>
                    <h4 class="mt-5">
                        Principais recursos e sitemas de comunicação alternativa.
                    </h4>
                    <p>
                        As pessoas com deficiência enfrentam algumas barreiras na interação, ao participar de práticas
                        culturais. Essas barreiras podem ser superadas ou parcialmente compensadas a partir do uso de
                        tecnologias como computador e tecnologia assistiva. Valente (2008) considera que muitas barreiras
                        entre a pessoa e o mundo são minimizadas com o uso da tecnologia.
                    </p>
                    <div class="row">
                        <div class="col">
                            <p>
                                Os recursos são constituídos
                                por objetos ou equipamentos, por meio dos quais se consegue transmitir uma mensagem. Segundo
                                classificação de Zaporoszenko e Alencar (2008), tais recursos utilizados em CA podem ser tanto de
                                baixa quanto de alta tecnologia. Os de baixa tecnologia podem ser representados por gestos manuais,
                                expressões faciais, Código Morse e através de signos gráficos.
                            </p>
                            <p>
                                Os signos gráficos podem ser elaborados
                                por meio da escrita, de desenhos, de figuras (fotos, gravuras, entre outros) e de símbolos pictóricos.
                                Para tanto, é possível utilizar os mais variados sistemas de CA, através dos quais podem ser elaboradas
                                pranchas, painéis, carteiras, entre outros
                            </p>
                        </div>
                        <div class="col-md-6">
                            <figure class="figure">
                                <img class="rounded img-fluid figure-img" src="https://www.ufrgs.br/coronavirus/wp-content/uploads/2020/04/prancha-hospitalar_V_Prancheta-1-co%CC%81pia-2-1024x730.jpg" alt="Tabela de pictogramas 1.">
                                <figcaption class="figure-caption"></figcaption>
                            </figure>
                        </div>
                        <p>
                            Os recursos de alta tecnologia são compostos por sistemas de comunicação tecnológicos. Podem
                            utilizar como base comunicadores com voz gravada ou sintetizada ou, ainda, sistemas como o Bliss-Comp,
                            PIC-Comp, PCS-Comp ImagoAnaVox, além de softwares para computadores, dispositivos móveis ou
                            outros recursos tecnológicos.
                        </p>

                    </div>
                    <h4 class="mt-5">
                        Recursos tecnológicos de apoio para TEA
                    </h4>
                    <div class="row">

                        <div class="col">
                            <p>
                                Optou-se por apresentar recursos tecnológicos de TEA disponíveis para desktop, web e dispositivos
                                móveis, no intuito de apoio ao desenvolvimento de atividades e materiais tanto para pessoas com
                                TEA como para atividades nos processos de inclusão. Importante ressaltar que uma tecnologia não
                                garante, por si só, o desenvolvimento. É necessário que a mesma seja utilizada através da mediação
                                em interação do sujeito com seus pares.
                            </p>
                            <p>
                                O recurso tecnológico que apresentaremos é no momento para versão desktop, ou seja, para
                                ser acessado por um computador..
                            </p>
                            <div class="col-md-6">
                                <figure class="figure">
                                    <img class="rounded img-fluid figure-img" src="/media/picto2.png" alt="Tabela de pictogramas2 greenTEA.">
                                    <figcaption class="figure-caption"></figcaption>
                                </figure>
                            </div>

                            <p>
                                Outros recursos podem ser utilizados, não necessariamente com o uso de comunicação alternativa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="~/js/vanilla-zoom.js"></script>
<script src="~/js/theme.js"></script>
<script src="~/js/site.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


