@{ ViewData["Title"] = "White Noise"; }


<main class="page blog-post mt-3 bg-light">
    <section class="clean-block clean-post dark">
        <div class="container bg-white col-10">
            <div class="block-content  justify-content-center">
                <div class="post-image" style="background-image:url(&quot;assets/img/scenery/image3.jpg&quot;);"></div>
                <div class="post-body p-4">
                    <div class="post-info"><span>14 Jan, 2022</span></div>
                    <div class=" text-center mb-5">
                        <h1>
                            Ruído Branco pode ajudar pacientes com TEA
                        </h1>
                    </div>
                    <h4>
                        Autismo
                    </h4>
                    <div class="row">
                        <div class="col">
                            <p>
                                O transtorno de espectro autista, ou TEA, é caracterizado por comprometimentos na
                                comunicação e linguagem, assim como na inteligência e comportamento social. É
                                importante salientar que cada pessoa com autismo tem manifestações próprias,
                                sendo que nem todas apresentaram disfunções na audição.
                            </p>
                            <p>
                                No entanto, a grande maioria dos indivíduos com transtorno do espectro autista têm
                                uma alteração em seus sentidos, sendo hipersensíveis. Alguns, por exemplo, tem
                                sensibilidade ao toque e incomodam-se com texturas. Já outras pessoas têm
                                audição muito aguçada, não suportando ficar em locais com muita agitação ou
                                barulhos repetitivos
                            </p>
                            <p>
                                Alguns pais descobriram que o ruído branco também funciona, assim como sons
                                repetitivos do ambiente ou o ruído constante de um ventilador
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <figure class="figure">
                                <img class="rounded img-fluid figure-img" src="https://midiainclusiva.com/wp-content/uploads/2022/01/shutterstock_212552731-e1517582244645.jpg" alt="Criança irritada com barulho.">
                                <figcaption class="figure-caption">Sons</figcaption>
                            </figure>
                        </div>

                    </div>
                    <h4 class="mt-5">
                        Por que esse som acalma e também aumenta a concentração de algumas
                        pessoas?
                    </h4>
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="figure">
                                <img class="rounded img-fluid figure-img" src="https://media.diariodosudoeste.com.br/2020/07/f1d5a563-m%C3%BAsica3.jpg" alt="Figura de criança ouvindo musica.">
                                <figcaption class="figure-caption">Ouvindo white-noises</figcaption>
                            </figure>
                        </div>
                        <div class="col">
                            <p>
                                Apesar de ser presente em várias situações, o ruído branco é usado para mascarar
                                sons. Vamos ver um exemplo de como isso funciona: quando estamos dormindo
                                nosso cérebro ainda capta os sons do ambiente, interpretando-os, mesmo que não
                                de forma tão ativa, como quando estamos acordados. Em contrapartida, o nosso
                                cérebro consegue se acostumar à frequência do som que estamos ouvindo, de
                                maneira que nos habituamos ao som ambiente; essa é uma maneira de não
                                sobrecarregarmos nosso sistema nervoso com muitas informações.
                            </p>
                            <p>
                                Desta forma, o meio deve ser o mais neutro possível, com poucos estímulos
                                auditivos, sem cheiros, ruídos ou cores indesejáveis e com uma decoração simples.
                                Só assim é possível reduzir os níveis de ansiedade e os comportamentos negativos.
                                Um ambiente com uma luz relaxante, uma música rítmica (com ou sem
                                auscultadores) e um ruído branco, tem uma ação positiva ao minimizar os
                                comportamentos ansiosos e não corporativos
                            </p>
                        </div>
                    </div>
                </div>
                <p class="ml-5">
                    Referência
                    <a href="https://linhasdecuidado.saude.gov.br/portal/transtorno-do-espectro-autista/definicao-tea/"> linhasdecuidado.saude.gov.br</a>
                </p>
            </div>
        </div>
    </section>
</main>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="~/js/vanilla-zoom.js"></script>
<script src="~/js/theme.js"></script>
<script src="~/js/site.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


