@{
    ViewData["Title"] = "Blog";
}

<br />
<br />

                <div class="post-image"><img style="max-height: 420px" class="img-fluid rounded-lg  mb-3" src="/media/bloguinho.jpg"></div>
                <div class="container">
 
                    <main class="page blog-post-list bg-white">
                        <section class="clean-block clean-blog-list dark">
                            <div class="container">
                                <div class="block-heading text-center pb-4">
                                    <h1 class="text-info">Bloguinho</h1>
                                    <p>Conheça as ultimas novidades criadas pelo greenTea</p>
                                </div>
                                <div class="block-content">
                                    <div class="clean-blog-post m-2 p-2">
                                        <div class="row">
                                            <div class="col-lg-5"><img class="rounded img-thumbnail" src="/media/dieta-sgsc-capa.jpg"></div>
                                            <div class="col-lg-7">
                                                <h3>A dieta na vida de quem tem TEA</h3>
                                                <div class="info"><span class="text-muted">11 Jan, 2022</span></div>
                                                <p>
                                                    É importante que as crianças tenham uma familiaridade com o alimento para se sentirem
                                                    atraídas por ele, chamar o seu pequeno para ajudar na hora do preparo da refeição pode
                                                    ajudar nisso. O simples fato de pegar o ingrediente e sentir seu cheiro já faz parte de
                                                    uma aproximação significativa, mesmo que naquele momento ele não queira consumi-lo.
                                                </p>
                                                <a asp-action="BlogDieta" class="btn btn-outline-primary btn-sm">Leia Mais</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clean-blog-post m-2 p-2">
                                        <div class="row">
                                            <div class="col-lg-5"><img class="rounded img-thumbnail" src="/media/ruido.jpg"></div>
                                            <div class="col-lg-7">
                                                <h3>
                                                    Ruído Branco pode ajudar pacientes com TEA
                                                </h3>
                                                <div class="info"><span class="text-muted">11 Jan, 2022</span></div>
                                                <p>
                                                    Apesar de ser presente em várias situações, o ruído branco é usado para mascarar
                                                    sons. Vamos ver um exemplo de como isso funciona: quando estamos dormindo
                                                    nosso cérebro ainda capta os sons do ambiente, interpretando-os, mesmo que não
                                                    de forma tão ativa, como quando estamos acordados. Em contrapartida, o nosso
                                                    cérebro consegue se acostumar à frequência do som que estamos ouvindo, de
                                                    maneira que nos habituamos ao som ambiente; essa é uma maneira de não
                                                    sobrecarregarmos nosso sistema nervoso com muitas informações.
                                                </p>
                                                <a asp-action="BlogWnoise" class="btn btn-outline-primary btn-sm">Leia Mais</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clean-blog-post m-2 p-2">
                                        <div class="row">
                                            <div class="col-lg-5"><img class="rounded img-thumbnail" src="/media/picto.png"></div>
                                            <div class="col-lg-7">
                                                <h3>Comunicação Alternativa. Pictogramas </h3>
                                                <div class="info"><span class="text-muted">13 Jan, 2022</span></div>
                                                <p>
                                                    A comunicação humana é uma das práticas culturais mais significantes e fundamentais dos
                                                    seres humanos. Esse processo não é inato ou maturacional, mas sim sociohistórico e se desenvolve
                                                    ao longo da vida. As formas mais comuns de comunicação são a oral e a escrita, mas o processo
                                                    comunicacional inclui também gestos e expressões corporais e também envolve aspectos relativos
                                                    à intersubjetividade, como a reciprocidade e as crenças dos sujeitos em interação (TOMASELLO,
                                                    2003)
                                                </p>
                                                <a asp-action="BlogPicto" class="btn btn-outline-primary btn-sm">Leia Mais</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clean-blog-post m-2 p-2">
                                        <div class="row">
                                            <div class="col-lg-5"><img class="rounded img-thumbnail" src="/media/faq.jpg"></div>
                                            <div class="col-lg-7">
                                                <h3>Perguntas Frequentes.</h3>
                                                <div class="info"><span class="text-muted">14 Jan, 2022</span></div>
                                                <p>
                                                    Neste compilado, separamaos algumas das perguntas mais frequentes sobre o assunto.
                                                </p>
                                                <p>
                                                    Descubra alguns dos mitos e verdades sobre oque é TEA.
                                                </p>
                                                    
                                                <a asp-action="Faq" class="btn btn-outline-primary btn-sm">Leia Mais</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>


                </div>




