@{
    ViewData["Title"] = "Sobre/QuemSomos";
}


<hr />
<br />
<div class="container bg-white">
    <div class="">
        <div class="caption v-middle text-center">
            <h1 class="cd-headline clip">
                <span class="blc">Nós somos | </span>
                <span class="cd-words-wrapper">
                    <b class="is-visible">front end.</b>
                    <b>back end.</b>
                    <b>Power Ranger.</b>
                    <b>A Equipe 13.</b>
                </span>
            </h1>
        </div>
        <hr />
        <div class="d-flex justify-content-center mb-5">
            <img class="" src="~/media/grupo.png" style="width: 90%;">
        </div>
    </div>
</div>